body {
  font-family: verdana, sans-serif;
  padding: 20px;
  align-items: center;
}
h1 {
  font-size: 2em;
  margin-top: 50px auto 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
}

.divLabel {
  display: flex;
}

.inputText {
  width: 25px;
  text-align: center;
}

#divShowColor {
  border-style: solid;
  display: flex;
  margin-left: 10px;
  height: 130px;
  width: 130px;
}
